body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-image: url("./assets/logo.png");
  background-repeat: no-repeat;
  background-color: #ccccaa;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.heading {
  font-size: 60px;
  padding-bottom: 30px;
}

h2 {
  padding: 25px 0 0 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

label {
  display: block;
  margin-top: 1rem;
  margin-bottom: 10px;
}

.address {
  margin-top: 20px;
}

.btn-link {
  text-decoration: none;
}
.btn-link:visited {
  color: black;
}

.btn-save {
  margin: 35px;
}

.modal-body {
  text-align: center;
}

.w3-container,
.w3-panel {
  padding: unset;
}

.table__filter-search,
.table__pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}

.table__filter-search > span > select {
  border-radius: 5px;
  border: 0;
  margin: 0 5px;
}

.search {
  display: flex;
  align-items: center;
}
.search > input.form-control {
  margin-left: 5px;
}
